body{
    color: rgb(97, 208, 255);
    background-color: rgb(97, 208, 255);
    overflow-y: scroll;
}
div{
    width: 80%;
    height: 80%;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}